In [210]:
import requests
import pandas as pd
import configparser
import time

In [ ]:

def geocode(address):
    params = { 'format'        :'json', 
               'addressdetails': 1, 
               'q'             : address}
    headers = { 'user-agent'   : 'TDI' }   #  Need to supply a user agent other than the default provided 
                                           #  by requests for the API to accept the query.
    return requests.get('http://nominatim.openstreetmap.org/search', 
                        params=params, headers=headers)

response = geocode('107 Page St., San Francisco')

In [ ]:
parser = configparser.ConfigParser()
_ = parser.read('snorkel.cfg')
ncei_auth_key = parser.get('NOAA_NCDC', 'token')

In [ ]:
base_url = "https://www.ncei.noaa.gov/cdo-web/api/v2/"


params = {
    'datasetid': 'GHCND',
    'startdate': '2016-06-04',
    'enddate': '2023-04-06',
    'units': 'metric',
    'limit': 25,
}
headers = {token: ncei_auth_key}

In [24]:

headers = {'token': ncei_auth_key}
params = {
    'dataset': 'daily-summaries',
    'boundingBox': [ 20.544036, -155.901725, 21.062098, -156.733017]
}
temp = requests.get('https://www.ncei.noaa.gov/access/services/data/v1',
                    params=params, headers=headers).json()

In [25]:
temp

{'errorCode': 400,
 'errorMessage': 'Bad Request',
 'errors': [{'field': 'stations',
   'message': 'A station is required.',
   'value': None},
  {'field': 'startDate',
   'message': 'A start date is required.',
   'value': None},
  {'field': 'endDate', 'message': 'An end date is required.', 'value': None}]}

In [62]:
## Get Maui weatherstations
headers = {'token': ncei_auth_key}
params = {
#    'dataset': 'daily-summaries',
#    'extent': (20.544036, -155.901725, 21.062098, -156.733017),
    'locationid': 'FIPS:15',
#    'locationcategoryid': 'ST',
    'startdate': '2016-06-04',
    'enddate': '2023-04-06',
    'limit': 400
}
stations = requests.get('https://www.ncei.noaa.gov/cdo-web/api/v2/stations/', params=params, headers=headers).json()

In [63]:
df_hi_stations = pd.json_normalize(stations['results'])
df_hi_stations['color'] = 'red'
df_hi_stations['marker'] = 'marker'
df_hi_stations[['latitude','longitude', 'color', 'marker', 'name']].to_csv('geoplotter_HI_stations.csv', index=False)
#df_hi_stations

In [82]:
df_maui_stations = df_hi_stations.loc[(df_hi_stations['latitude'] < 21.062098) & (df_hi_stations['latitude'] > 20.544036)
                  & (df_hi_stations['longitude'] < -155.901725) & (df_hi_stations['longitude'] > -156.733017)]
df_maui_stations[['latitude','longitude', 'color', 'marker', 'name']].to_csv('geoplotter_maui_stations.csv', index=False)

In [205]:
df_maui_stations

,elevation,mindate,maxdate,latitude,name,datacoverage,id,elevationUnit,longitude,color,marker
97,416.1,2012-10-01,2023-04-20,20.876061,"HAIKU 3.2 SE, HI US",0.8687,GHCND:US1HIMI0001,METERS,-156.304698,red,marker
117,106.7,2022-01-01,2023-03-03,20.928700,"HAIKU 488.7, HI US",1.0000,GHCND:USC00510822,METERS,-156.322100,red,marker
119,576.1,1905-01-01,2023-01-29,20.833300,"HALEAKALA RANCH 432, HI US",0.5633,GHCND:USC00510999,METERS,-156.316700,red,marker
120,2122.0,1939-03-01,2023-04-01,20.760300,"HALEAKALA RANGER STATION 338, HI US",0.9300,GHCND:USC00511004,METERS,-156.247000,red,marker
121,3037.0,1957-04-01,2023-04-17,20.716670,"HALEAKALA SUMMIT 338, HI US",0.2412,GHCND:USC00511008,METERS,-156.266670,red,marker
124,92.4,1942-01-01,2016-10-31,20.923300,"HAMAKUAPOKO 485, HI US",0.9885,GHCND:USC00511086,METERS,-156.340300,red,marker
125,22.9,1950-12-01,2023-04-20,20.794700,"HANA AIRPORT 355, HI US",0.7569,GHCND:USC00511125,METERS,-156.015400,red,marker
136,103.9,2006-01-01,2017-01-13,20.794000,"HONOMAELE 355.2, HI US",0.4456,GHCND:USC00511921,METERS,-156.041300,red,marker
140,335.3,1923-01-01,2023-04-17,20.954500,"KAHAKULOA 482.4, HI US",0.0947,GHCND:USC00512450,METERS,-156.534200,red,marker
144,213.4,1905-01-01,2022-11-30,20.890500,"KAILUA 446, HI US",0.8806,GHCND:USC00512679,METERS,-156.212700,red,marker
161,73.2,1987-03-01,2022-06-02,20.962500,"KAPALUA W. MAUI AIRPORT 462.4, HI US",0.9781,GHCND:USC00513317,METERS,-156.675300,red,marker
169,148.7,1942-01-01,2016-10-31,20.861100,"KEAHUA 410, HI US",0.9877,GHCND:USC00513910,METERS,-156.382900,red,marker
174,48.2,1905-01-01,2016-10-31,20.791200,"KIHEI 311, HI US",0.6381,GHCND:USC00514489,METERS,-156.442100,red,marker
175,42.7,2022-01-01,2023-04-17,20.735600,"KIHEI NUMBER 2 311.5, HI US",0.9619,GHCND:USC00514492,METERS,-156.444300,red,marker
187,952.5,1979-04-01,2023-04-20,20.758680,"KULA BRANCH STATION 324.5, HI US",0.9830,GHCND:USC00515000,METERS,-156.321100,red,marker
188,923.5,1979-05-01,2023-03-31,20.700900,"KULA HOSPITAL 267, HI US",0.9427,GHCND:USC00515004,METERS,-156.356200,red,marker
191,173.7,2022-01-01,2023-04-17,20.889000,"LAHAINALUNA 361.1, HI US",0.9195,GHCND:USC00515178,METERS,-156.659000,red,marker
200,256.6,1919-09-01,2023-03-31,20.959400,"MAHINAHINA 466, HI US",0.9131,GHCND:USC00515715,METERS,-156.650500,red,marker
201,219.5,2022-01-01,2023-04-17,20.958330,"FAHINAHINA CAMP 465., HI US",0.7055,GHCND:USC00515720,METERS,-156.658890,red,marker
203,26.8,1982-05-01,2023-03-31,20.641900,"MAKENA GOLF COURSE 249.1, HI US",0.8831,GHCND:USC00515842,METERS,-156.440000,red,marker
223,26.2,1982-02-01,2022-12-01,20.661600,"OHE O 258.6, HI US",0.9225,GHCND:USC00517000,METERS,-156.044300,red,marker
227,382.5,1938-01-01,2022-11-30,20.813700,"PAAKEA 350, HI US",0.7448,GHCND:USC00517194,METERS,-156.118600,red,marker
234,62.5,1905-01-01,2016-10-31,20.896300,"PAIA 406, HI US",0.7086,GHCND:USC00517566,METERS,-156.379100,red,marker
246,1874.5,1964-01-01,2022-08-31,20.677200,"POLIPOLI SPRING 267.2, HI US",0.7930,GHCND:USC00518070,METERS,-156.329900,red,marker
253,493.8,2022-01-01,2023-04-17,20.838890,"PUKALANI 426.6, HI US",0.8686,GHCND:USC00518219,METERS,-156.333330,red,marker
258,128.3,1986-06-01,2023-03-31,20.928500,"PUUKOLII 457.1, HI US",0.9366,GHCND:USC00518407,METERS,-156.673500,red,marker
260,70.1,1949-10-01,2016-10-31,20.857100,"PUUNENE 396, HI US",0.9875,GHCND:USC00518543,METERS,-156.431300,red,marker
267,27.4,1949-10-01,2016-10-31,20.894000,"SPRECKELSVILLE 400, HI US",0.9884,GHCND:USC00518688,METERS,-156.410400,red,marker
268,1594.1,1905-01-01,2022-11-29,20.793300,"UKULELE 333, HI US",0.5188,GHCND:USC00518744,METERS,-156.249400,red,marker
269,579.1,1955-01-01,2023-04-20,20.648700,"ULUPALAKUA RANCH 250, HI US",0.8841,GHCND:USC00518760,METERS,-156.398200,red,marker
281,97.5,1944-09-01,2023-03-31,20.915800,"WAIEHU CAMP 484, HI US",0.8069,GHCND:USC00519275,METERS,-156.509500,red,marker
284,103.6,1949-10-01,2023-03-31,20.941400,"WAIHEE VLY 482, HI US",0.8638,GHCND:USC00519315,METERS,-156.524800,red,marker
285,147.2,1916-08-16,2023-03-31,20.853600,"WAIKAPU 390, HI US",0.5141,GHCND:USC00519376,METERS,-156.508800,red,marker
286,146.3,2022-01-01,2023-04-17,20.834500,"WAIKAPU CC 390.4, HI US",0.8856,GHCND:USC00519380,METERS,-156.513400,red,marker
291,100.6,2022-01-01,2023-04-17,20.886000,"WAILUKU AHOS 386.6, HI US",0.8093,GHCND:USC00519494,METERS,-156.504700,red,marker
298,67.1,1905-01-01,2023-01-30,20.630500,"WAIOPAI RANCH 256, HI US",0.6297,GHCND:USC00519765,METERS,-156.204200,red,marker
301,365.8,2001-09-27,2019-08-09,20.580300,"HAKIOAWA HAWAII, HI US",0.9597,GHCND:USR0000HHAI,METERS,-156.571100,red,marker
306,1228.3,2013-01-01,2017-04-19,20.684200,"KAUPO GAP HAWAII, HI US",1.0000,GHCND:USR0000HKAU,METERS,-156.151900,red,marker
330,14.0,1905-01-01,2023-04-20,20.888710,"KAHULUI AIRPORT, HI US",0.7205,GHCND:USW00022516,METERS,-156.434530,red,marker
347,14.0,1945-04-01,2023-04-23,20.888710,"KAHULUI AIRPORT, HI US",0.9300,WBAN:22516,METERS,-156.434530,red,marker
354,73.2,2005-09-20,2023-01-27,20.962500,"KAPALUA W. MAUI AIRPORT 462.4, HI US",0.4800,WBAN:22552,METERS,-156.675300,red,marker

In [196]:
'&'.join(df_maui_stations['id'].tolist())

'GHCND:US1HIMI0001&GHCND:USC00510822&GHCND:USC00510999&GHCND:USC00511004&GHCND:USC00511008&GHCND:USC00511086&GHCND:USC00511125&GHCND:USC00511921&GHCND:USC00512450&GHCND:USC00512679&GHCND:USC00513317&GHCND:USC00513910&GHCND:USC00514489&GHCND:USC00514492&GHCND:USC00515000&GHCND:USC00515004&GHCND:USC00515178&GHCND:USC00515715&GHCND:USC00515720&GHCND:USC00515842&GHCND:USC00517000&GHCND:USC00517194&GHCND:USC00517566&GHCND:USC00518070&GHCND:USC00518219&GHCND:USC00518407&GHCND:USC00518543&GHCND:USC00518688&GHCND:USC00518744&GHCND:USC00518760&GHCND:USC00519275&GHCND:USC00519315&GHCND:USC00519376&GHCND:USC00519380&GHCND:USC00519494&GHCND:USC00519765&GHCND:USR0000HHAI&GHCND:USR0000HKAU&GHCND:USW00022516&WBAN:22516&WBAN:22552'

In [269]:
headers = {'token': ncei_auth_key}
params = {
    'datasetid': 'GHCND',
#    'locations': [ 20.544036, -155.901725, 21.062098, -156.733017]
    'locationid': 'FIPS:15',
#    'stationid': 'GHCND:US1HIMI0001',
    'startdate': '2016-06-04',
    'enddate': '2023-04-06',
#    'locationcategoryid': 'ST',
    'limit': 30
}
df_labels = pd.json_normalize(requests.get('https://www.ncei.noaa.gov/cdo-web/api/v2/datatypes/', params=params, headers=headers).json()['results'])

In [270]:
df_labels.to_csv('weather_labels.csv', index=False)

In [170]:
stations = [ station.split(':')[1] for station in maui_stations_ids ]
stations.pop()
stations.pop()

'22516'

In [172]:
','.join(stations)

'US1HIMI0001,USC00510822,USC00510999,USC00511004,USC00511008,USC00511086,USC00511125,USC00511921,USC00512450,USC00512679,USC00513317,USC00513910,USC00514489,USC00514492,USC00515000,USC00515004,USC00515178,USC00515715,USC00515720,USC00515842,USC00517000,USC00517194,USC00517566,USC00518070,USC00518219,USC00518407,USC00518543,USC00518688,USC00518744,USC00518760,USC00519275,USC00519315,USC00519376,USC00519380,USC00519494,USC00519765,USR0000HHAI,USR0000HKAU,USW00022516'

In [ ]:
headers = {'token': ncei_auth_key}
params = {
    'datasetid': 'GHCND',
#    'locations': [ 20.544036, -155.901725, 21.062098, -156.733017]
#    'locationid': 'ZIP:28801',
    'stationid': 'GHCND:USW00022516',
    'startdate': '2022-05-01',
    'enddate': '2022-05-31',
#    'locationcategoryid': 'ST',
    'limit': 40,
    'units': 'standard'
}
requests.get('https://www.ncei.noaa.gov/cdo-web/api/v2/data/', params=params, headers=headers).json()

Try NCEI data services

In [173]:
#headers = {'token': ncei_auth_key}
params = {
    'dataset': 'daily-summaries',
#    'bbox': '20.544036,-155.901725,21.062098,-156.733017',
#    'locationid': 'ZIP:28801',
    'stations': ','.join(stations),
    'startDate': '2016-06-01',
    'endDate': '2023-04-06',
#    'locationcategoryid': 'ST',
    'limit': 40,
    'format': 'json',
    'units': 'standard',
    'includeStationName': 'true',
}
temp = requests.get('https://www.ncei.noaa.gov/access/services/data/v1', params=params, headers=headers).json()

In [165]:
pd.json_normalize(temp).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2501 entries, 0 to 2500
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   WSF2     2498 non-null   object
 1   STATION  2501 non-null   object
 2   WSF5     2493 non-null   object
 3   PRCP     2494 non-null   object
 4   NAME     2501 non-null   object
 5   DATE     2501 non-null   object
 6   WDF2     2498 non-null   object
 7   AWND     2492 non-null   object
 8   WDF5     2493 non-null   object
 9   WT01     536 non-null    object
 10  TMAX     2488 non-null   object
 11  TAVG     2501 non-null   object
 12  TMIN     2488 non-null   object
 13  WT08     374 non-null    object
 14  PGTM     95 non-null     object
 15  WT03     8 non-null      object
dtypes: object(16)
memory usage: 312.8+ KB

In [176]:
df_weather = pd.json_normalize(temp)

In [182]:
with pd.option_context('display.max_columns', None):
    display(df_weather)

,DATE,STATION,PRCP,NAME,SNOW,DAPR,MDPR,TMAX,TMIN,TOBS,SX52,SN52,TAVG,WSF2,WSF5,WDF2,AWND,WDF5,WT01,WT08,PGTM,WT03
0,2016-06-01,US1HIMI0001,0.93,"HAIKU 3.2 SE, HI US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-06-02,US1HIMI0001,0.16,"HAIKU 3.2 SE, HI US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-06-03,US1HIMI0001,0.05,"HAIKU 3.2 SE, HI US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-06-04,US1HIMI0001,0.00,"HAIKU 3.2 SE, HI US",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-06-05,US1HIMI0001,0.00,"HAIKU 3.2 SE, HI US",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35621,2023-04-02,USW00022516,0.23,"KAHULUI AIRPORT, HI US",NaN,NaN,NaN,85,66,NaN,NaN,NaN,75,23.0,31.1,50,8.72,60,1,NaN,NaN,NaN
35622,2023-04-03,USW00022516,0.00,"KAHULUI AIRPORT, HI US",NaN,NaN,NaN,85,68,NaN,NaN,NaN,73,23.9,29.1,30,12.30,30,NaN,NaN,NaN,NaN
35623,2023-04-04,USW00022516,0.00,"KAHULUI AIRPORT, HI US",NaN,NaN,NaN,85,64,NaN,NaN,NaN,74,29.1,35.1,40,13.42,40,NaN,NaN,NaN,NaN
35624,2023-04-05,USW00022516,0.00,"KAHULUI AIRPORT, HI US",NaN,NaN,NaN,83,65,NaN,NaN,NaN,75,31.1,36.0,40,17.45,40,NaN,NaN,NaN,NaN
35625,2023-04-06,USW00022516,0.00,"KAHULUI AIRPORT, HI US",NaN,NaN,NaN,83,70,NaN,NaN,NaN,76,30.0,40.9,80,18.57,70,NaN,NaN,NaN,NaN

In [314]:
df_labels.loc[df_labels['id']=='MDPR']
#df_labels.columns
#df_weather.

,mindate,maxdate,name,datacoverage,id
2,1832-05-11,2023-04-22,Multiday precipitation total (use with DAPR an...,1.0,MDPR

In [335]:
pd.date_range('2016-06-01', '2023-04-06', freq='D')

DatetimeIndex(['2016-06-01', '2016-06-02', '2016-06-03', '2016-06-04',
               '2016-06-05', '2016-06-06', '2016-06-07', '2016-06-08',
               '2016-06-09', '2016-06-10',
               ...
               '2023-03-28', '2023-03-29', '2023-03-30', '2023-03-31',
               '2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06'],
              dtype='datetime64[ns]', length=2501, freq='D')

In [350]:
"""
For each weather station, drop columns which have all na values, 
drop name, station columns, and rename columns to have station name in them. 
Then add them to the weather dataframe. 

index = pd.date_range('2016-06-01', '2023-04-06', freq='D')
"""
df_weather_cleaned = pd.DataFrame()

for station in stations:
    temp = df_weather.query("STATION == @station").dropna(axis=1, how='all')
    cols = temp.columns
    wt_cols = { str(col): 0 for col in cols if 'WT' in col }
    temp.fillna(wt_cols, inplace=True)
    temp.drop(['STATION','NAME'], axis=1, inplace=True)
    temp.set_index('DATE', inplace=True)
    temp.rename(lambda x: stations[-1] + '_' + x, axis='columns', inplace=True)
    temp.index.name = None
    df_weather_cleaned = pd.concat([df_weather_cleaned, temp], axis=1, join='outer')
#    print(df_weather_cleaned)
    
df_weather_cleaned.sort_index(inplace = True)

In [351]:
df_weather_cleaned.to_csv('df_weather_cleaned_maybe_needs_more.csv')

In [281]:
df_weather.query("STATION == @stations[-1]").dropna(axis=1, how='all')

,DATE,STATION,PRCP,NAME,TMAX,TMIN,TAVG,WSF2,WSF5,WDF2,AWND,WDF5,WT01,WT08,PGTM,WT03
33125,2016-06-01,USW00022516,0.01,"KAHULUI AIRPORT, HI US",84,70,74,21.0,25.1,40,10.29,40,1,NaN,NaN,NaN
33126,2016-06-02,USW00022516,0.00,"KAHULUI AIRPORT, HI US",82,71,75,21.9,23.9,40,9.84,30,1,1,NaN,NaN
33127,2016-06-03,USW00022516,0.00,"KAHULUI AIRPORT, HI US",85,68,76,16.1,21.0,10,8.95,360,NaN,NaN,NaN,NaN
33128,2016-06-04,USW00022516,0.00,"KAHULUI AIRPORT, HI US",84,68,75,14.1,19.9,20,5.59,30,1,NaN,NaN,NaN
33129,2016-06-05,USW00022516,0.00,"KAHULUI AIRPORT, HI US",85,68,77,18.1,23.0,30,8.28,20,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35621,2023-04-02,USW00022516,0.23,"KAHULUI AIRPORT, HI US",85,66,75,23.0,31.1,50,8.72,60,1,NaN,NaN,NaN
35622,2023-04-03,USW00022516,0.00,"KAHULUI AIRPORT, HI US",85,68,73,23.9,29.1,30,12.30,30,NaN,NaN,NaN,NaN
35623,2023-04-04,USW00022516,0.00,"KAHULUI AIRPORT, HI US",85,64,74,29.1,35.1,40,13.42,40,NaN,NaN,NaN,NaN
35624,2023-04-05,USW00022516,0.00,"KAHULUI AIRPORT, HI US",83,65,75,31.1,36.0,40,17.45,40,NaN,NaN,NaN,NaN
35625,2023-04-06,USW00022516,0.00,"KAHULUI AIRPORT, HI US",83,70,76,30.0,40.9,80,18.57,70,NaN,NaN,NaN,NaN

In [259]:
df_weather.query("STATION == @stations[-1] and WT03 == WT03")

,DATE,STATION,PRCP,NAME,SNOW,DAPR,MDPR,TMAX,TMIN,TOBS,...,TAVG,WSF2,WSF5,WDF2,AWND,WDF5,WT01,WT08,PGTM,WT03
33229,2016-09-13,USW00022516,0.23,"KAHULUI AIRPORT, HI US",NaN,NaN,NaN,86,75,NaN,...,79,21.0,25.1,50,10.51,50,1,NaN,NaN,1
33380,2017-02-11,USW00022516,1.21,"KAHULUI AIRPORT, HI US",NaN,NaN,NaN,77,68,NaN,...,74,40.9,48.1,210,18.34,210,1,1,NaN,1
33399,2017-03-02,USW00022516,0.09,"KAHULUI AIRPORT, HI US",NaN,NaN,NaN,82,70,NaN,...,71,25.1,32.0,210,13.42,220,NaN,NaN,NaN,1
33404,2017-03-07,USW00022516,1.51,"KAHULUI AIRPORT, HI US",NaN,NaN,NaN,81,64,NaN,...,75,15.0,21.0,10,7.16,20,1,NaN,NaN,1
33802,2018-04-09,USW00022516,0.16,"KAHULUI AIRPORT, HI US",NaN,NaN,NaN,77,68,NaN,...,73,23.0,27.1,30,16.55,30,1,1,NaN,1
33806,2018-04-13,USW00022516,0.00,"KAHULUI AIRPORT, HI US",NaN,NaN,NaN,87,64,NaN,...,76,25.1,32.0,40,10.96,40,NaN,NaN,NaN,1
34393,2019-11-21,USW00022516,0.02,"KAHULUI AIRPORT, HI US",NaN,NaN,NaN,85,71,NaN,...,79,29.1,35.1,30,16.33,60,1,NaN,NaN,1
35516,2022-12-18,USW00022516,1.87,"KAHULUI AIRPORT, HI US",NaN,NaN,NaN,74,67,NaN,...,73,25.9,36.0,180,11.41,170,1,NaN,NaN,1

In [212]:
def get_weather_data(stationid):
    params = {
    'dataset': 'daily-summaries',
    'stations': stationid,
    'startDate': '2016-06-01',
    'endDate': '2023-04-06',
    'format': 'json',
    'units': 'standard',
    'includeStationName': 'true',
    }
    response = requests.get('https://www.ncei.noaa.gov/access/services/data/v1', params=params)
    while response != 200:
        time.sleep(5)
        response = requests.get('https://www.ncei.noaa.gov/access/services/data/v1', params=params)
    return response.json()['results']

In [213]:
maui_weather_tables = []
for station in stations:
    maui_weather_tables.append(get_weather_data(station))

KeyboardInterrupt:

In [ ]:
len(maui_weather_table)