In [126]:
import pandas as pd
import numpy as np
import os

# Import buoy data

In [292]:
buoy_path = 'buoy_data/51000/'
buoy_file = '51000h2022.txt'

#buoy_temp = pd.read_csv(buoy_path + buoy_file)

In [293]:
df_buoy = pd.read_csv(buoy_path + buoy_file, delim_whitespace=True, skiprows=[1,2])

In [305]:
df_buoy[:30].replace([99, 999, 9999], None)

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2022,1,1,0,10,115,10.5,13.7,None,None,None,None,1012.0,22.1,23.4,18.7,None,None
1,2022,1,1,0,20,118,11.3,14.6,None,None,None,None,1011.9,22.2,23.4,18.6,None,None
2,2022,1,1,0,30,115,10.8,14.5,None,None,None,None,1011.9,21.9,23.4,18.6,None,None
3,2022,1,1,0,40,116,10.1,13.3,2.94,8.33,6.33,73,1011.9,22.2,23.4,18.8,None,None
4,2022,1,1,0,50,116,10.6,13.1,None,None,None,None,1012.0,22.3,23.4,18.6,None,None
5,2022,1,1,1,0,120,12.5,15.7,None,None,None,None,1012.1,21.5,23.4,18.3,None,None
6,2022,1,1,1,10,110,11.8,15.4,None,None,None,None,1012.2,21.5,23.3,18.5,None,None
7,2022,1,1,1,20,112,11.1,14.9,None,None,None,None,1012.0,21.6,23.3,18.2,None,None
8,2022,1,1,1,30,105,10.8,14.4,None,None,None,None,1012.2,21.9,23.3,18.3,None,None
9,2022,1,1,1,40,110,10.5,13.9,3.02,8.33,6.61,84,1012.2,22.0,23.3,18.5,None,None
10,2022,1,1,1,50,120,11.2,15.8,None,None,None,None,1012.2,21.9,23.3,18.5,None,None
11,2022,1,1,2,0,113,10.8,13.7,None,None,None,None,1012.3,22.0,23.3,18.1,None,None
12,2022,1,1,2,10,110,11.7,15.0,None,None,None,None,1012.3,22.3,23.3,18.3,None,None
13,2022,1,1,2,20,110,10.4,14.2,None,None,None,None,1012.3,21.9,23.3,18.1,None,None
14,2022,1,1,2,30,102,10.9,13.8,None,None,None,None,1012.3,22.2,23.3,18.5,None,None
15,2022,1,1,2,40,106,11.6,15.3,3.03,7.69,6.51,85,1012.3,22.3,23.3,18.5,None,None
16,2022,1,1,2,50,103,11.1,14.1,None,None,None,None,1012.3,22.4,23.3,18.4,None,None
17,2022,1,1,3,0,103,10.6,13.2,None,None,None,None,1012.3,22.4,23.3,18.6,None,None
18,2022,1,1,3,10,116,11.3,14.2,None,None,None,None,1012.4,22.2,23.3,18.6,None,None
19,2022,1,1,3,20,109,11.2,13.9,None,None,None,None,1012.4,22.6,23.3,18.5,None,None
20,2022,1,1,3,30,108,11.5,14.3,None,None,None,None,1012.6,22.7,23.3,18.3,None,None
21,2022,1,1,3,40,104,11.3,14.4,3.12,9.09,6.43,73,1012.7,22.7,23.3,18.2,None,None
22,2022,1,1,3,50,109,11.4,14.0,None,None,None,None,1012.7,22.8,23.3,18.3,None,None
23,2022,1,1,4,0,110,11.5,14.4,None,None,None,None,1012.8,22.8,23.3,18.2,None,None
24,2022,1,1,4,10,112,11.4,14.1,None,None,None,None,1012.8,22.8,23.3,18.3,None,None
25,2022,1,1,4,20,113,11.6,15.4,None,None,None,None,1012.9,22.7,23.3,18.6,None,None
26,2022,1,1,4,30,117,11.3,16.0,None,None,None,None,1013.0,22.2,23.3,18.2,None,None
27,2022,1,1,4,40,123,10.5,13.1,3.2,8.33,6.54,94,1013.2,22.5,23.3,18.7,None,None
28,2022,1,1,4,50,123,10.2,12.6,None,None,None,None,1013.2,22.4,23.3,18.8,None,None
29,2022,1,1,5,0,115,10.5,14.1,None,None,None,None,1013.3,22.5,23.3,18.7,None,None

In [312]:
df_buoy = pd.read_csv(buoy_path + buoy_file, delim_whitespace=True, skiprows=[1,2])
df_buoy.replace([99, 999, 9999], None, inplace=True)
df_buoy.rename(columns = {'#YY': 'year', 'MM': 'month', 'DD': 'day'}, inplace=True)
df_buoy['date'] = pd.to_datetime(df_buoy[['year','month','day']])
df_buoy.set_index('date', inplace=True)
df_buoy_agg = df_buoy.groupby('date').agg([np.mean, np.std])
df_buoy_agg.drop([ label1 for label1, label2 in [ col for col, val in df_buoy_agg.sum().items() if val == 0 ] ] \
                 + ['hh', 'mm'], axis=1, inplace=True)
df_buoy_agg.columns = df_buoy_agg.columns.map('_'.join)
df_buoy_agg.rename(lambda x: station + '_' + x, axis='columns', inplace=True)
df_buoy_agg.index.name = None
df_buoy_agg

,51000_WDIR_mean,51000_WDIR_std,51000_WSPD_mean,51000_WSPD_std,51000_GST_mean,51000_GST_std,51000_WVHT_mean,51000_WVHT_std,51000_DPD_mean,51000_DPD_std,...,51000_MWD_mean,51000_MWD_std,51000_PRES_mean,51000_PRES_std,51000_ATMP_mean,51000_ATMP_std,51000_WTMP_mean,51000_WTMP_std,51000_DEWP_mean,51000_DEWP_std
2022-01-01,112.902098,4.447368,10.562238,0.577611,13.248951,0.921792,2.9225,0.257315,8.26,0.366274,...,89.0,10.983459,1013.246853,0.788277,22.562238,0.377502,23.266434,0.055594,18.574126,0.278252
2022-01-02,113.0,4.314555,9.6125,0.512348,12.0125,0.676775,2.59125,0.168737,8.02125,0.438280,...,94.409091,7.378599,1013.235417,0.890782,22.614583,0.366417,23.3,0.000000,19.215278,0.416499
2022-01-03,120.743056,7.004241,8.904861,0.692753,11.265278,0.918293,2.45375,0.132068,8.17,0.283089,...,102.904762,8.080252,1013.490278,0.817751,22.711111,0.374747,23.211806,0.066371,20.092361,0.148220
2022-01-04,142.916667,19.410364,7.210417,0.700122,9.18125,0.928415,2.20375,0.169342,10.211667,4.309863,...,88.791667,42.626772,1013.2875,0.778997,22.846853,0.385623,23.295833,0.093775,20.70979,0.252958
2022-01-05,196.895105,13.794117,4.139161,1.262740,5.671329,1.575321,2.58125,0.289457,16.164583,0.978175,...,149.625,177.331380,1014.446528,1.320464,23.13986,0.235312,23.553472,0.086026,21.154545,0.222574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-27,118.278571,30.741687,3.338889,1.306579,5.382639,1.588874,2.520833,0.161203,12.281458,0.685190,...,314.9375,6.406135,1020.476389,1.040910,24.016667,0.358903,24.776761,0.120675,21.016667,0.195043
2022-12-28,108.118056,13.751286,6.580556,0.925949,8.771528,1.093635,2.16875,0.135625,11.23375,0.789952,...,311.0,32.017947,1019.465972,0.781263,24.122917,0.351961,24.686111,0.080741,19.731944,1.366669
2022-12-29,147.770833,13.597469,5.895833,0.892304,8.280556,0.990605,2.435208,0.145046,13.349792,1.865077,...,293.3125,43.357571,1017.031944,0.809701,24.4,0.143386,24.65,0.050175,17.023611,1.056977
2022-12-30,167.090278,33.692753,4.048611,1.461630,6.003472,1.582616,2.649792,0.348770,14.111458,0.736152,...,302.291667,9.155764,1017.651748,1.104654,24.102083,0.385845,24.612587,0.104724,18.385417,0.814979
2022-12-31,103.785714,24.630736,4.5,1.225087,6.779861,1.472241,2.803125,0.230043,13.987083,0.726164,...,301.6875,7.721636,1018.648611,0.770431,23.723611,0.627793,24.661111,0.143440,18.5125,0.906841

In [121]:
df_buoy.rename(columns = {'#YY': 'year', 'MM': 'month', 'DD': 'day'}, inplace=True)
df_buoy['date'] = pd.to_datetime(df_buoy[['year','month','day']])
df_buoy.set_index('date', inplace=True)
df_buoy_agg = df_buoy.groupby('date').agg([np.mean, np.std])

In [122]:
#df_buoy_agg.drop([col for col, val in df_buoy_agg.sum().iteritems() if val == 0 ], axis=1)
df_buoy_agg.drop([ label1 for label1, label2 in [ col for col, val in df_buoy_agg.sum().items() if val == 0 ] ] + ['hh'], axis=1, inplace=True)

In [124]:
#df_buoy_agg.rename(columns = dict([ ((col1, col2), col1+'_'+col2) for col1, col2 in df_buoy_agg.columns ]))
#df_buoy_agg.columns.set_levels([ col1+'_'+col2 for col1, col2 in df_buoy_agg.columns ], level=1)
df_buoy_agg.columns = df_buoy_agg.columns.map('_'.join)

,WDIR_mean,WDIR_std,WSPD_mean,WSPD_std,GST_mean,GST_std,WVHT_mean,WVHT_std,DPD_mean,DPD_std,APD_mean,APD_std,MWD_mean,MWD_std,PRES_mean,PRES_std,ATMP_mean,ATMP_std,WTMP_mean,WTMP_std
date,,,,,,,,,,,,,,,,,,,,
2016-01-01,280.250000,24.152145,6.100000,2.707638,7.916667,3.014410,2.992917,0.249686,13.715000,0.774967,9.134583,0.665556,309.666667,6.531973,1016.612500,0.965632,23.087500,0.408936,24.429167,0.151741
2016-01-02,105.708333,145.625631,7.212500,2.420620,9.195833,2.783098,3.880000,0.385374,13.942500,0.975675,8.885000,0.735427,309.208333,7.419007,1018.408333,1.740044,22.129167,0.409113,24.354167,0.077903
2016-01-03,192.291667,141.821835,1.950000,0.882191,3.491667,1.072955,3.693750,0.292513,13.747500,0.719542,9.964167,0.519087,306.416667,9.600347,1019.904167,1.022562,22.050000,0.258760,24.408333,0.101795
2016-01-04,176.875000,137.028183,5.454167,2.494163,7.204167,2.600415,3.592917,0.666852,14.795000,1.853291,10.018333,0.395361,309.666667,11.040111,1019.937500,0.888483,21.962500,0.811232,24.350000,0.065938
2016-01-05,76.958333,12.263339,6.925000,1.324764,8.845833,1.582782,3.874583,0.359541,14.728333,1.188172,9.558750,0.532691,313.375000,12.221907,1021.045833,0.999556,22.462500,0.109594,24.312500,0.033783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-27,87.750000,8.758846,8.345833,1.074195,10.404167,1.177868,2.689167,0.178762,10.641667,2.005223,6.984583,0.232341,185.583333,103.872378,1021.770833,1.002813,23.141667,0.334816,24.175000,0.044233
2016-12-28,75.625000,9.197412,7.458333,0.877703,9.125000,1.230147,2.638333,0.113814,11.216250,2.330081,7.251250,0.243530,197.041667,109.537557,1020.108333,0.912672,22.662500,0.472562,24.083333,0.081650
2016-12-29,61.375000,16.223473,7.541667,0.985511,9.233333,0.841668,2.552083,0.350899,9.387500,0.851935,6.957917,0.437413,132.583333,99.702565,1017.104167,1.069530,22.379167,0.665275,23.900000,0.051075
2016-12-30,32.391304,8.809804,9.473913,1.894062,11.526087,2.073253,3.637391,0.332910,10.555217,0.433808,7.557391,0.223286,245.000000,163.431943,1014.817391,0.781404,20.713043,0.621804,23.660870,0.094094
2016-12-31,43.434783,11.762135,7.278261,1.198847,9.217391,1.288993,2.677391,0.316719,10.366522,0.567167,7.339565,0.364124,204.000000,173.715808,1014.808696,0.788504,20.595652,0.501342,23.747826,0.059311

In [132]:
df_station_agg = pd.DataFrame()

df_buoy = pd.read_csv(path + file, delim_whitespace=True, skiprows=[1,2])
df_buoy.rename(columns = {'#YY': 'year', 'MM': 'month', 'DD': 'day'}, inplace=True)
df_buoy['date'] = pd.to_datetime(df_buoy[['year','month','day']])
df_buoy.set_index('date', inplace=True)
df_buoy_agg = df_buoy.groupby('date').agg([np.mean, np.std])
df_buoy_agg.drop([ label1 for label1, label2 in [ col for col, val in df_buoy_agg.sum().items() if val == 0 ] ] \
                 + ['hh'], axis=1, inplace=True)
df_buoy_agg.columns = df_buoy_agg.columns.map('_'.join)
df_buoy_agg.rename(lambda x: station + '_' + x, axis='columns', inplace=True)
df_buoy_agg.index.name = None
pd.concat([df_station_agg, df_buoy_agg])

,51000_WDIR_mean,51000_WDIR_std,51000_WSPD_mean,51000_WSPD_std,51000_GST_mean,51000_GST_std,51000_WVHT_mean,51000_WVHT_std,51000_DPD_mean,51000_DPD_std,51000_APD_mean,51000_APD_std,51000_MWD_mean,51000_MWD_std,51000_PRES_mean,51000_PRES_std,51000_ATMP_mean,51000_ATMP_std,51000_WTMP_mean,51000_WTMP_std
2016-01-01,280.250000,24.152145,6.100000,2.707638,7.916667,3.014410,2.992917,0.249686,13.715000,0.774967,9.134583,0.665556,309.666667,6.531973,1016.612500,0.965632,23.087500,0.408936,24.429167,0.151741
2016-01-02,105.708333,145.625631,7.212500,2.420620,9.195833,2.783098,3.880000,0.385374,13.942500,0.975675,8.885000,0.735427,309.208333,7.419007,1018.408333,1.740044,22.129167,0.409113,24.354167,0.077903
2016-01-03,192.291667,141.821835,1.950000,0.882191,3.491667,1.072955,3.693750,0.292513,13.747500,0.719542,9.964167,0.519087,306.416667,9.600347,1019.904167,1.022562,22.050000,0.258760,24.408333,0.101795
2016-01-04,176.875000,137.028183,5.454167,2.494163,7.204167,2.600415,3.592917,0.666852,14.795000,1.853291,10.018333,0.395361,309.666667,11.040111,1019.937500,0.888483,21.962500,0.811232,24.350000,0.065938
2016-01-05,76.958333,12.263339,6.925000,1.324764,8.845833,1.582782,3.874583,0.359541,14.728333,1.188172,9.558750,0.532691,313.375000,12.221907,1021.045833,0.999556,22.462500,0.109594,24.312500,0.033783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-27,87.750000,8.758846,8.345833,1.074195,10.404167,1.177868,2.689167,0.178762,10.641667,2.005223,6.984583,0.232341,185.583333,103.872378,1021.770833,1.002813,23.141667,0.334816,24.175000,0.044233
2016-12-28,75.625000,9.197412,7.458333,0.877703,9.125000,1.230147,2.638333,0.113814,11.216250,2.330081,7.251250,0.243530,197.041667,109.537557,1020.108333,0.912672,22.662500,0.472562,24.083333,0.081650
2016-12-29,61.375000,16.223473,7.541667,0.985511,9.233333,0.841668,2.552083,0.350899,9.387500,0.851935,6.957917,0.437413,132.583333,99.702565,1017.104167,1.069530,22.379167,0.665275,23.900000,0.051075
2016-12-30,32.391304,8.809804,9.473913,1.894062,11.526087,2.073253,3.637391,0.332910,10.555217,0.433808,7.557391,0.223286,245.000000,163.431943,1014.817391,0.781404,20.713043,0.621804,23.660870,0.094094
2016-12-31,43.434783,11.762135,7.278261,1.198847,9.217391,1.288993,2.677391,0.316719,10.366522,0.567167,7.339565,0.364124,204.000000,173.715808,1014.808696,0.788504,20.595652,0.501342,23.747826,0.059311

In [322]:
stations = ['51000','51001','51002','51003','51004','51101','51213','klih1','kwhh1']
df_all_buoy = pd.DataFrame()
## Needs more testing before deployment. Certain variables are invalid if they are 99 or 999, 
## taking means keeps those data in the dataset when they shouldn't be.


for station in stations:
    path = 'buoy_data/' + station + '/'
    files = os.listdir(path)
#    df_station = pd.DataFrame()
    df_station_agg = pd.DataFrame()
    for file in files:
        df_buoy = pd.read_csv(path + file, delim_whitespace=True, skiprows=[1,2])
        df_buoy.replace([99, 999, 9999], None, inplace=True)
        df_buoy.rename(columns = {'#YY': 'year', 'MM': 'month', 'DD': 'day'}, inplace=True)
        df_buoy['date'] = pd.to_datetime(df_buoy[['year','month','day']])
        df_buoy.set_index('date', inplace=True)
        df_buoy_agg = df_buoy.groupby('date').agg([np.mean, np.std])
        df_buoy_agg.drop([ label1 for label1, label2 in [ col for col, val in df_buoy_agg.sum().items() if val == 0 ] ] \
                         + ['hh', 'mm'], axis=1, inplace=True)
        df_buoy_agg.columns = df_buoy_agg.columns.map('_'.join)
        df_buoy_agg.rename(lambda x: station + '_' + x, axis='columns', inplace=True)
#        df_station = pd.concat([df_station, df_buoy], axis=0)
        df_station_agg = pd.concat([df_station_agg, df_buoy_agg], axis=0)
#    df_station.to_csv(station+'_buoy_data.csv')
    df_station_agg.to_csv(station+'_buoy_data_agg.csv')
    df_all_buoy = pd.concat([df_all_buoy, df_station_agg], axis=1)

df_all_buoy.sort_index(inplace=True)
df_all_buoy.to_csv('buoy_data_agg.csv')
df_all_buoy

,51000_WDIR_mean,51000_WDIR_std,51000_WSPD_mean,51000_WSPD_std,51000_GST_mean,51000_GST_std,51000_WVHT_mean,51000_WVHT_std,51000_DPD_mean,51000_DPD_std,...,kwhh1_WSPD_mean,kwhh1_WSPD_std,kwhh1_GST_mean,kwhh1_GST_std,kwhh1_PRES_mean,kwhh1_PRES_std,kwhh1_ATMP_mean,kwhh1_ATMP_std,kwhh1_WTMP_mean,kwhh1_WTMP_std
date,,,,,,,,,,,,,,,,,,,,,
2016-01-01,280.25,24.152145,6.1,2.707638,7.916667,3.014410,2.992917,0.249686,13.715,0.774967,...,1.712712,0.922628,2.358051,0.993671,1016.870293,0.952659,23.935565,1.815118,26.214644,0.116654
2016-01-02,105.708333,145.625631,7.2125,2.420620,9.195833,2.783098,3.88,0.385374,13.9425,0.975675,...,2.609283,1.600926,4.062447,2.539598,1016.56375,1.680051,24.73,1.885004,25.969167,0.216204
2016-01-03,192.291667,141.821835,1.95,0.882191,3.491667,1.072955,3.69375,0.292513,13.7475,0.719542,...,1.667511,1.181854,2.467932,1.308733,1018.078333,1.161314,23.809167,1.776744,25.834167,0.111660
2016-01-04,176.875,137.028183,5.454167,2.494163,7.204167,2.600415,3.592917,0.666852,14.795,1.853291,...,2.319831,1.071900,3.168354,1.148678,1018.13625,1.031582,23.264167,1.980461,25.7625,0.100678
2016-01-05,76.0,11.583688,6.925,1.324764,8.845833,1.582782,3.874583,0.359541,14.728333,1.188172,...,2.859072,1.708767,4.258228,2.028334,1017.990417,0.934571,23.658333,1.628978,25.677083,0.141775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-27,121.787234,11.239477,7.746853,0.981362,9.982517,1.171812,2.22,0.124586,10.051915,0.558946,...,2.061667,0.867757,2.804167,0.923464,1015.892857,0.960085,24.316807,0.999014,25.907983,0.343934
2023-03-28,123.715278,5.617982,7.802083,1.031563,9.909722,1.246495,2.08125,0.100734,9.916875,0.495392,...,2.189362,1.115247,2.912766,1.177353,1014.44661,0.962946,24.481974,0.869959,26.064167,0.275285
2023-03-29,122.513889,7.630438,8.913889,0.931696,11.351389,1.174495,2.308333,0.169772,8.566667,1.322250,...,1.868966,0.848315,2.650862,0.945529,1013.653333,0.922788,24.765517,0.598353,25.916596,0.191767
2023-03-30,120.5625,5.243336,8.456944,0.616515,10.680556,0.744141,2.460417,0.167751,9.012292,1.205334,...,2.250833,1.293725,3.014167,1.339037,1014.782979,1.112578,24.75375,0.655893,26.008333,0.170445
2023-03-31,113.475524,5.565022,8.570139,0.740353,10.818056,0.965391,2.441042,0.204879,11.7675,1.624670,...,1.60641,0.720992,2.201709,0.764837,1013.634043,0.788723,24.413924,0.851778,25.814894,0.358045

# Import rainfall data

In [210]:
path = 'rain_data/2016/07/'
file = 'rainfall_new_day_statewide_partial_station_data_2016_07.csv'

temp = pd.read_csv(path + file)
temp[['SKN', 'Station.Name', 'Observer', 'Network', 'Island', 'ELEV.m.',\
       'LAT', 'LON', 'NCEI.id', 'NWS.id', 'NESDIS.id', 'SCAN.id',\
       'SMART_NODE_RF.id']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SKN               458 non-null    float64
 1   Station.Name      458 non-null    object
 2   Observer          458 non-null    object
 3   Network           458 non-null    object
 4   Island            458 non-null    object
 5   ELEV.m.           458 non-null    float64
 6   LAT               458 non-null    float64
 7   LON               458 non-null    float64
 8   NCEI.id           296 non-null    object
 9   NWS.id            134 non-null    object
 10  NESDIS.id         105 non-null    object
 11  SCAN.id           5 non-null      float64
 12  SMART_NODE_RF.id  0 non-null      float64
dtypes: float64(6), object(7)
memory usage: 46.6+ KB

In [189]:
temp

,SKN,X2016.07.01,X2016.07.02,X2016.07.03,X2016.07.04,X2016.07.05,X2016.07.06,X2016.07.07,X2016.07.08,X2016.07.09,...,X2016.07.22,X2016.07.23,X2016.07.24,X2016.07.25,X2016.07.26,X2016.07.27,X2016.07.28,X2016.07.29,X2016.07.30,X2016.07.31
152,249.1,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,0.000000,NaN,...,0.000000,4.100000,17.000000,0.000000,0.0,0.000000,0.000000,0.000000,NaN,NaN
153,250.0,0.000000,NaN,NaN,NaN,NaN,0.800000,0.000000,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.0,0.000000,0.000000,0.000000,NaN,NaN
154,253.0,0.000000,0.000000,0.762000,0.000000,1.524000,0.000000,0.000000,0.000000,0.000000,...,0.000000,10.160000,50.040000,0.508000,0.0,0.000000,0.000000,0.254000,0.000000,0.254000
155,255.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.762000,39.370000,0.762000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
156,256.0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,...,66.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,490.7,0.844629,2.279720,18.890984,10.968019,7.109274,1.333652,5.730090,3.127640,2.316185,...,2.985675,29.976044,63.518601,2.711103,0.0,0.000000,0.000000,0.715300,9.383135,3.196400
242,492.2,0.995369,3.997423,18.634803,10.223553,9.652603,3.299279,9.800047,4.054494,7.862859,...,11.476562,61.536510,40.451539,0.775082,0.0,0.045075,0.766274,5.369424,11.203976,5.138544
243,493.0,0.506736,0.700952,5.947873,4.483239,4.319186,0.967813,2.395032,2.405023,0.811651,...,1.982164,10.671971,22.791932,0.900329,0.0,0.000000,0.000000,0.108878,4.915792,0.364950
244,494.0,NaN,0.832973,7.068129,NaN,NaN,1.150097,2.846126,NaN,0.964522,...,2.355496,12.681991,27.084694,1.069902,0.0,0.000000,0.000000,0.129384,5.841661,0.650529
245,497.0,NaN,1.077729,7.017933,NaN,NaN,0.969240,3.007984,NaN,1.247932,...,2.632586,15.630205,23.837157,0.969240,0.0,0.000000,0.000000,0.167402,5.846121,0.561118

In [188]:
temp = temp.query("Island == 'MA'").drop(columns = ['Station.Name', 'Observer', 'Network', 'Island', 'ELEV.m.',\
       'LAT', 'LON', 'NCEI.id', 'NWS.id', 'NESDIS.id', 'SCAN.id',\
       'SMART_NODE_RF.id'])

In [172]:
df = temp.set_index('SKN').transpose()

In [180]:
df = df.rename(lambda x: pd.to_datetime(x.replace('X','')))

In [194]:
years = [2017,2018,2019,2020,2021,2022]
months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

years_2016 = [2016]
months_2016 = ['06', '07', '08', '09', '10', '11', '12']

years_2023 = [2023]
months_2023 = ['01', '02', '03']

df_rainfall = pd.DataFrame()

for year in years_2016:
    for month in months_2016:
        path = 'rain_data/' + str(year) + '/' + str(month) + '/'
        file = 'rainfall_new_day_statewide_partial_station_data_' + str(year) + '_' + str(month) + '.csv'
        temp = pd.read_csv(path + file)
        temp = temp.query("Island == 'MA'").drop(columns = ['Station.Name', 'Observer', 'Network', \
                                                'Island', 'ELEV.m.','LAT', 'LON', 'NCEI.id', 'NWS.id',\
                                                'NESDIS.id', 'SCAN.id','SMART_NODE_RF.id'])
        temp = temp.set_index('SKN').transpose()
        temp = temp.rename(lambda x: pd.to_datetime(x.replace('X','')))
        df_rainfall = pd.concat([df_rainfall, temp], axis=0)

In [196]:
for year in years:
    for month in months:
        path = 'rain_data/' + str(year) + '/' + str(month) + '/'
        file = 'rainfall_new_day_statewide_partial_station_data_' + str(year) + '_' + str(month) + '.csv'
        temp = pd.read_csv(path + file)
        temp = temp.query("Island == 'MA'").drop(columns = ['Station.Name', 'Observer', 'Network', \
                                                'Island', 'ELEV.m.','LAT', 'LON', 'NCEI.id', 'NWS.id',\
                                                'NESDIS.id', 'SCAN.id','SMART_NODE_RF.id'])
        temp = temp.set_index('SKN').transpose()
        temp = temp.rename(lambda x: pd.to_datetime(x.replace('X','')))
        df_rainfall = pd.concat([df_rainfall, temp], axis=0)

In [197]:
for year in years_2023:
    for month in months_2023:
        path = 'rain_data/' + str(year) + '/' + str(month) + '/'
        file = 'rainfall_new_day_statewide_partial_station_data_' + str(year) + '_' + str(month) + '.csv'
        temp = pd.read_csv(path + file)
        temp = temp.query("Island == 'MA'").drop(columns = ['Station.Name', 'Observer', 'Network', \
                                                'Island', 'ELEV.m.','LAT', 'LON', 'NCEI.id', 'NWS.id',\
                                                'NESDIS.id', 'SCAN.id','SMART_NODE_RF.id'])
        temp = temp.set_index('SKN').transpose()
        temp = temp.rename(lambda x: pd.to_datetime(x.replace('X','')))
        df_rainfall = pd.concat([df_rainfall, temp], axis=0)

In [199]:
df_rainfall.to_csv('rainfall_data_full.csv')

In [200]:
df_rainfall

SKN,249.1,250.0,253.0,255.0,258.6,266.0,267.0,267.2,267.8,276.0,...,250.2,390.4,482.5,338.4,353.0,355.0,302.0,329.0,387.6,432.4
2016-06-01,0.0,6.1,0.254,0.000,7.9,3.918092,4.6,NaN,20.800,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06-02,0.0,0.0,0.254,0.000,0.8,0.806139,0.0,NaN,0.800,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06-03,0.0,0.0,0.000,0.000,1.3,2.927196,0.0,NaN,2.300,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06-04,NaN,NaN,0.254,1.016,9.1,4.518146,0.0,NaN,0.200,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06-05,NaN,NaN,10.160,0.000,0.5,0.368177,0.0,NaN,4.600,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-27,NaN,NaN,NaN,10.668,NaN,14.732000,NaN,NaN,0.000,NaN,...,2.540,0.0,0.000,NaN,NaN,NaN,0.0,4.317993,0.0,0.000
2023-03-28,NaN,NaN,NaN,19.304,NaN,10.922000,NaN,NaN,0.000,NaN,...,0.254,0.0,0.000,NaN,0.254,NaN,0.0,10.160000,0.0,0.000
2023-03-29,NaN,NaN,NaN,0.000,NaN,0.000000,NaN,NaN,2.032,NaN,...,24.130,0.0,0.254,NaN,0.000,NaN,0.0,5.334000,NaN,0.254
2023-03-30,NaN,NaN,NaN,2.794,NaN,2.286000,NaN,NaN,1.778,NaN,...,0.762,0.0,0.000,NaN,1.270,NaN,0.0,6.604000,NaN,0.254
2023-03-31,NaN,NaN,NaN,3.810,NaN,1.524000,NaN,NaN,1.778,NaN,...,0.000,0.0,0.000,NaN,0.000,NaN,0.0,9.144000,NaN,0.000

In [269]:
#with pd.option_context('display.max_rows', None):
#    display(df_rainfall.isnull().mean() * 100)
data_completeness = pd.DataFrame(df_rainfall.isnull().mean() * 100)

with pd.option_context('display.max_rows', None):
    display(df_names.join(pd.DataFrame(data_completeness), on='SKN', how='right').sort_values(0, axis=0, ascending=False))

           SKN                   Station.Name          0
267.20  267.20         POLIPOLI SPRINGS 267.2  99.593496
NaN     355.20                            NaN  99.512195
256.00  256.00              WAIOPAI RANCH 256  96.788618
NaN     333.00                            NaN  96.707317
432.00  432.00            HALEAKALA RANCH 432  96.463415
396.30  396.30                           F713  93.780488
406.30  406.30                           F208  93.780488
311.00  311.00                      KIHEI 311  93.780488
314.30  314.30                           F805  93.780488
391.20  391.20                           F717  93.780488
396.20  396.20                           F711  93.780488
397.50  397.50                           F710  93.780488
400.30  400.30                           F607  93.780488
403.20  403.20                           F611  93.780488
405.10  405.10                           F212  93.780488
415.10  415.10                           F306  93.780488
413.20  413.20                           F205  93.780488
311.60  311.60                           F820  93.780488
416.10  416.10                           F102  93.780488
419.10  419.10                           F301  93.780488
421.40  421.40                           F116  93.780488
424.20  424.20                           F300  93.780488
485.50  485.50                           F105  93.780488
486.60  486.60                           F109  93.780488
313.40  313.40                           F811  93.780488
410.00  410.00                     KEAHUA 410  90.365854
400.00  400.00             SPRECKELSVILLE 400  87.845528
350.00  350.00                     PAAKEA 350  83.739837
NaN     338.40                            NaN  75.975610
NaN     432.40                            NaN  75.243902
NaN     387.60                            NaN  73.536585
253.00  253.00                  AUWAHI HN-141  72.439024
NaN     355.00                            NaN  71.300813
NaN     329.00                            NaN  70.203252
249.10  249.10          MAKENA GOLF CRS 249.1  66.300813
NaN     337.11                            NaN  65.569106
497.00  497.00          NAKALELE FIELD 60 497  62.560976
494.00  494.00           HONOLUA FIELD 49 494  62.398374
386.00  386.00                    WAILUKU 386  61.544715
396.00  396.00                    PUUNENE 396  61.422764
307.20  307.20           POHAKEA BRIDGE 307.2  61.097561
250.00  250.00           ULUPALAKUA RANCH 250  60.365854
338.00  338.00   HALEAKALA RANGER STATION 338  55.325203
280.10  280.10   OheoGulchRGatdamnearKipahulu  54.349593
465.10  465.10                     Mahinahina  53.983740
482.40  482.40            KAHAKULOA MAUKA 482  53.699187
276.00  276.00                 BIG BOG HN-164  53.170732
278.80  278.80             Puu Alaea - Alpine  51.666667
258.60  258.60                    OHE'O 258.6  51.422764
NaN     302.00                            NaN  51.382114
266.00  266.00                      KAUPO GAP  51.178862
NaN     337.90                            NaN  48.536585
485.00  485.00                HAMAKUAPOKO 485  47.154472
493.00  493.00                  HONOKOHUA 493  46.991870
364.00  364.00                   WAHIKULI 364  46.951220
390.00  390.00                    WAIKAPU 390  46.910569
474.00  474.00                   FIELD 46 474  46.829268
278.20  278.20            Lakes - Forest line  46.829268
278.50  278.50               Frisbee - Alpine  46.829268
423.00  423.00                 HALIIMAILE 423  46.829268
278.71  278.71         Frisbee - Cloud forest  46.788618
278.11  278.11       Puu Alaea - Cloud forest  46.788618
278.70  278.70          Frisbee - Forest line  46.788618
492.20  492.20                 HALEHAKU 492.2  46.788618
277.00  277.00            HORSHOE PU'U HN-163  46.788618
328.40  328.40               PU'U PAHU HN-106  46.788618
278.00  278.00               TREE LINE HN-162  46.788618
278.10  278.10              Lakes - Subalpine  46.788618
490.70  490.70                   KUIAHA 490.7  46.788618
278.12  278.12        Puu Alaea - Forest line  46.788618
278.30  278.30           Lakes - Cloud forest  46.788618
278.40  278.40                 Lakes - Alpine  46.788618
406.00  406.00                       PAIA 406  46.788618
278.60  278.60            Frisbee - Subalpine  46.788618
324.60  324.60                 KULA AG HN-119  46.788618
278.90  278.90          Puu Alaea - Subalpine  46.788618
337.10  337.10                  Sliding Sands  39.512195
446.00  446.00                     KAILUA 446  38.821138
NaN     337.80                            NaN  38.739837
NaN     337.13                            NaN  37.967480
339.40  339.40                 PARK HQ HN-151  37.845528
NaN     390.40                            NaN  35.162602
NaN     426.60                            NaN  34.349593
NaN     353.00                            NaN  34.065041
NaN     337.12                            NaN  33.577236
337.30  337.30                      Lava lake  31.991870
NaN     337.50                            NaN  31.626016
NaN     337.70                            NaN  30.406504
337.40  337.40               Silversword loop  28.048780
279.00  279.00          POHAKAU PALAHA HN-161  27.804878
486.70  486.70                   HAIKU 3.2 SE  27.601626
NaN     482.50                            NaN  26.829268
339.60  339.60                  SUMMIT HN-153  25.772358
339.50  339.50               NENE NEST HN-152  25.772358
267.00  267.00              KULA HOSPITAL 267  25.121951
482.00  482.00              WAIHEE VALLEY 482  24.878049
337.00  337.00                      south rim  24.634146
337.20  337.20                     Puu o Pele  24.634146
337.60  337.60                       Puu Nole  24.593496
484.00  484.00                WAIEHU CAMP 484  22.601626
361.10  361.10                    Lahainaluna  20.691057
NaN     386.60                            NaN  20.000000
462.40  462.40   KAPALUA W.MAUI AIRPORT 462.4  19.471545
457.10  457.10                 PUUKOLII 457.1  19.186992
NaN     250.20                            NaN  18.008130
466.00  466.00                 MAHINAHINA 466  17.520325
311.20  311.20                Kealia Pond NWR  17.235772
398.00  398.00                KAHULUI AIRPORT  15.772358
311.50  311.50                        Kihei 2  11.951220
324.70  324.70                Kula Branch Stn   8.048780
267.80  267.80                         KULA 1   5.853659
489.00  489.00                          Haiku   3.861789
380.00  380.00          PuuKukuiRainGageatalt   2.723577
255.00  255.00            KepuniGulchRainGage   2.642276
348.50  348.50  WestWailuaikiRainGagenrKeanae   1.910569

In [223]:
df_names = temp[['SKN','Station.Name']].set_index('SKN')

In [248]:
data_completeness = df_rainfall.isnull().mean() * 100

In [266]:
data_completeness[0].values

array([66.30081301, 60.36585366, 72.43902439,  2.64227642, 51.42276423,
       51.17886179, 25.12195122, 99.59349593,  5.85365854, 53.17073171,
       46.78861789, 46.78861789, 46.78861789, 46.78861789, 46.78861789,
       46.82926829, 46.78861789, 46.78861789, 46.82926829, 46.78861789,
       46.78861789, 46.78861789, 51.66666667, 46.78861789, 27.80487805,
       54.3495935 , 61.09756098, 93.7804878 , 17.23577236, 11.95121951,
       93.7804878 , 93.7804878 , 93.7804878 , 46.78861789,  8.04878049,
       46.78861789, 24.63414634, 39.51219512, 24.63414634, 31.99186992,
       28.04878049, 24.59349593, 55.32520325, 37.84552846, 25.77235772,
       25.77235772,  1.91056911, 83.7398374 , 20.69105691, 46.95121951,
        2.72357724, 61.54471545, 20.        , 46.91056911, 93.7804878 ,
       61.42276423, 93.7804878 , 93.7804878 , 93.7804878 , 15.77235772,
       87.84552846, 93.7804878 , 93.7804878 , 93.7804878 , 46.78861789,
       93.7804878 , 90.36585366, 93.7804878 , 93.7804878 , 93.7804878 ,
       93.7804878 , 93.7804878 , 46.82926829, 93.7804878 , 34.3495935 ,
       38.82113821, 19.18699187, 19.47154472, 53.98373984, 17.5203252 ,
       46.82926829, 24.87804878, 53.69918699, 22.60162602, 47.15447154,
       93.7804878 , 93.7804878 , 27.60162602,  3.86178862, 46.78861789,
       46.78861789, 46.99186992, 62.39837398, 62.56097561, 96.78861789,
       96.46341463, 96.70731707, 31.62601626, 30.40650407, 99.51219512,
       65.56910569, 33.57723577, 37.96747967, 48.53658537, 38.7398374 ,
       18.00813008, 35.16260163, 26.82926829, 75.97560976, 34.06504065,
       71.30081301, 51.38211382, 70.20325203, 73.53658537, 75.24390244])

In [ ]:
with pd.option_context('display.max_rows', None):
    display(df_rainfall[361.10])

In [291]:
df_geoplotter = temp.query("Island == 'MA'")[['LAT','LON']]
df_geoplotter['color'] = 'red'
df_geoplotter['marker'] = 'marker'
df_geoplotter['Station.Name'] = temp['Station.Name']
df_geoplotter.to_csv('geoplotter_rainfall_stations', index=False)

In [290]:
temp.query("Island == 'MA'")[['LAT','LON']]

           LAT         LON
152  20.642089 -156.438849
153  20.648174 -156.398497
154  20.644222 -156.342056
155  20.619500 -156.251889
156  20.630147 -156.203859
..         ...         ...
241  20.893060 -156.303060
242  20.910000 -156.282000
243  21.000118 -156.655505
244  21.010978 -156.633839
245  21.025115 -156.600507

[94 rows x 2 columns]

In [283]:
temp

,SKN,Station.Name,Observer,Network,Island,ELEV.m.,LAT,LON,NCEI.id,NWS.id,...,X2016.07.22,X2016.07.23,X2016.07.24,X2016.07.25,X2016.07.26,X2016.07.27,X2016.07.28,X2016.07.29,X2016.07.30,X2016.07.31
0,2.10,KAHUKU MAUKA,COOP,COOP,BI,957.000,19.108900,-155.746700,USC00512566,NaN,...,0.000000,0.0,60.893825,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.32,SOUTH KONA 2 2.32,COOP,COOP,BI,647.000,19.107780,-155.789440,USC00518652,NaN,...,0.000000,0.0,56.100000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.34,MILOLII 2.34,COOP,COOP,BI,280.000,19.186302,-155.886763,USC00516304,NaN,...,0.000000,0.5,39.100000,0.0,0.0,0.0,0.0,2.3,0.0,0.0
3,2.36,KAPUA 2.36,COOP,COOP,BI,533.000,19.144720,-155.849440,USC00513376,NaN,...,43.700000,0.0,0.000000,0.5,0.0,0.0,0.0,0.5,0.0,0.0
4,3.22,HAWAIIAN OCEAN VIEW 4.7 NNE,HAWAIIAN OCEAN VIEW 4.7 NNE,CoCoRaHS,BI,1273.000,19.135000,-155.747000,US1HIHI0035,NaN,...,0.000000,0.0,99.600000,0.0,0.0,0.3,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,1134.10,KILAUEA 0.3 SE,CoCoRaHS,CoCoRaHS,KA,96.000,22.208000,-159.406200,US1HIKI0001,NaN,...,4.800000,0.8,3.800000,10.7,1.0,0.0,1.3,0.0,1.8,6.4
454,1134.20,KILAUEA 0.5 SE,CoCoRaHS,CoCoRaHS,KA,79.000,22.205700,-159.404800,US1HIKI0006,NaN,...,5.869473,1.0,5.100000,9.4,0.5,0.0,1.3,0.0,1.3,5.1
455,1137.00,KOLOKO RESERVOIR 113,KILAUEA SUGAR,COOP,KA,224.000,22.181408,-159.377758,USC00514758,NaN,...,3.000000,0.8,9.400000,9.7,0.5,0.3,1.0,0.0,3.6,7.6
456,1144.10,ANAHOLA 2.8 N,CoCoRaHS,CoCoRaHS,KA,74.000,22.186900,-159.323600,US1HIKI0021,NaN,...,1.300000,1.0,3.300000,2.8,0.0,1.3,0.0,0.3,0.5,5.6
457,1146.00,Moloaa Dairy,RAWS,RAWS,KA,85.344,22.183333,-159.337500,USR0000HMOL,MLDH1,...,NaN,NaN,NaN,NaN,1.1,0.0,1.0,0.2,NaN,17.8